* {
  margin: 0;
  padding: 0;
}
header,
.hero {
  padding: 100px;
  padding-top: 10px;
  padding-bottom: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 24px;
}

header nav {
  display: flex;
  justify-content: end;
  gap: 15px;
  font-size: 18px;
  color: #e5e7eb;
}

header nav a {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 400px;
}

.hero-content h1 {
  color: #f9faf8;
  font-weight: bolder;
  font-size: 48px;
  flex: 1;
}

.hero-content p {
  color: #e5e7eb;
  font-size: 18px;
  flex: 1;
}

.hero-content button {
  background-color: #3882f6;
  color: #e5e7eb;
  flex: auto;
  width: 100px;
  border-radius: 8px;
  margin-top: 5px;
  padding: 5px;
}

img {
  width: 500px;
  height: 200px;
}
